* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-size {
  max-width: 1400px;
  margin: 12px auto;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-size {
  max-width: 1400px;
  margin: 12px auto;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100%;
  padding: 0 12px;
  line-height: 55px;
  background-color: #fff;
}

@media screen and (max-width: 400px) {
  nav {
    line-height: 2;
  }
}

nav div {
  display: inline-block;
}

nav div.form {
  float: right;
}

nav .navLogo {
  float: left;
  position: relative;
  margin: 0;
  font-size: 30px;
}

nav .navLogo span {
  color: #ff5745;
  font-weight: 600;
  text-shadow: 0 3px 3px rgba(212, 212, 212, 0.322);
  position: relative;
}

@media screen and (max-width: 400px) {
  nav .navLogo span {
    top: -10px;
  }
}

@media screen and (max-width: 400px) {
  nav .navLogo span {
    font-size: 20px;
    margin: 0;
  }
}

nav .navLogo img {
  height: 30px;
  margin-top: 20px;
}

nav .navLinks {
  position: relative;
  margin: 15px 0 0 90px;
  display: inline-block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media screen and (max-width: 1100px) {
  nav .navLinks {
    margin: 15px 0;
    left: 15px;
  }
}

@media screen and (max-width: 960px) {
  nav .navLinks {
    position: absolute;
    left: 50%;
    top: 50px;
    width: 100%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: none;
    background-color: #fff;
  }
}

nav .navLinks ul {
  margin: 0;
  padding: 0;
  position: relative;
}

nav .navLinks ul li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 960px) {
  nav .navLinks ul li {
    display: block;
    margin: 15px 0;
  }
}

nav .navLinks ul li .fa-caret-down {
  font-weight: bold;
  font-size: 20px;
  display: none;
}

@media screen and (max-width: 960px) {
  nav .navLinks ul li .fa-caret-down {
    float: right;
    margin: 12px 15px 0 0;
    display: block;
  }
}

nav .navLinks ul li .fa-caret-down.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

nav .navLinks ul li a {
  margin: 0 20px;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 15px;
  color: #333e63;
  text-transform: uppercase;
  text-decoration: none;
}

nav .navLinks ul li a:hover {
  color: #8a8b8f;
}

nav .navLinks ul li .subList {
  position: absolute;
  width: 500px;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  -webkit-animation: slideDown 0.5s ease forwards alternate;
          animation: slideDown 0.5s ease forwards alternate;
  opacity: 0;
  display: none;
  -webkit-box-shadow: 0 4px 32px 0 rgba(51, 62, 99, 0.14);
          box-shadow: 0 4px 32px 0 rgba(51, 62, 99, 0.14);
  z-index: 900;
  background-color: #fff;
}

@-webkit-keyframes slideDown {
  to {
    margin-top: 10px;
    opacity: 1;
  }
}

@keyframes slideDown {
  to {
    margin-top: 10px;
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  nav .navLinks ul li .subList {
    position: relative;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

nav .navLinks ul li .subList ul {
  position: static;
}

nav .navLinks ul li .subList ul li {
  display: block;
  line-height: 1.2;
  padding: 5px 8px;
  margin: 0 0 12px;
  cursor: default;
}

nav .navLinks ul li .subList ul li.covid {
  background-color: rgba(250, 218, 203, 0.425);
}

nav .navLinks ul li .subList ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  margin: 5px 0;
}

nav .navLinks ul li .subList ul li span a {
  display: block;
}

nav .navLinks ul li .subList ul li span h3 {
  color: #000;
  font-size: 15px;
}

nav .navLinks ul li .subList ul li span.icon {
  margin-right: 15px;
}

nav .navLinks ul li .subList ul li span.icon i {
  font-size: 20px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navLinks ul li .subList ul li span.icon i.fa-user {
  background-color: rgba(213, 213, 248, 0.541);
  color: #6868f1;
}

nav .navLinks ul li .subList ul li span.icon i.fa-usd {
  background-color: rgba(161, 228, 161, 0.384);
  color: #0cca0c;
}

nav .navLinks ul li .subList ul li span.icon i.fa-plus {
  background-color: rgba(252, 215, 228, 0.438);
  color: #ee0f34;
}

nav .navLinks ul li .subList ul li span.icon i.fa-clock {
  color: orange;
  background-color: rgba(255, 224, 168, 0.521);
}

nav .navLinks ul li .subList ul li span p {
  text-transform: none;
  color: #b9b5b5;
  font-size: 13px;
  margin: 0;
  line-height: 1;
}

nav .navLinks ul li .subList ul li.footer {
  background-color: rgba(235, 235, 241, 0.288);
  padding: 20px 12px;
  margin: 0;
  -webkit-clip-path: polygon(0 0, 0 100%, calc(100% + 70vw) 100%);
          clip-path: polygon(0 0, 0 100%, calc(100% + 70vw) 100%);
}

nav .navLinks ul li .subList ul li.footer a {
  display: block;
  margin: 15px 0;
  font-size: 17px;
}

nav .navLinks ul li .subList ul li.footer .fas {
  color: black;
}

nav .navLinks ul li .subList ul li.footer .fas.fa-comment-alt {
  font-weight: 400;
}

nav .navLinks ul li .subList ul li.footer .fas.fa-link {
  border: 1px solid #4374fd;
}

nav .navLinks ul li .subList::before {
  position: absolute;
  left: 38%;
  top: -15px;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-right: none;
  border-bottom: 0;
  -webkit-transform: translateX(45px) rotate(45deg);
          transform: translateX(45px) rotate(45deg);
}

@media screen and (max-width: 960px) {
  nav .navLinks ul li .subList::before {
    display: none;
  }
}

nav .navLinks ul li:hover .subList {
  display: block;
}

@media screen and (max-width: 960px) {
  nav .navLinks ul li:hover .subList {
    display: none;
  }
}

nav .navLinks ul li.platform .subList i:first-child {
  color: #ff2d50;
}

nav .navLinks ul li.platform .subList.active {
  display: block;
  position: relative;
}

nav .navLinks ul li.tools .subList::before {
  background-color: #fff;
  border: none;
}

nav .navLinks ul li.tools .subList p a {
  display: block;
  color: #706b6b;
  font-size: 15px;
  text-transform: capitalize;
}

nav .navLinks ul li.tools .subList .fa-layer-group {
  color: #2b225a;
}

nav .navLinks ul li.tools .subList .fa-comment-dots {
  color: #706b6b;
}

nav .navLinks ul li.tools .subList.active {
  display: block;
  position: relative;
}

nav .navLinks ul li.company .fa-assistive-listening-systems {
  border: 1px solid #ff5745;
}

nav .navLinks ul li.company .fa-balance-scale {
  border: 1px solid #352255;
}

nav .navLinks ul li.company .subList.active {
  display: block;
}

nav .navLinks.active {
  display: block;
}

nav .form {
  margin-top: 15px;
  text-transform: uppercase;
}

nav .form span {
  margin: 0 20px;
}

nav .form span a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

nav .form span a.login {
  padding: 7px 20px;
  background-color: orangered;
  color: #fff;
}

@media screen and (max-width: 960px) {
  nav .form span a.login {
    background-color: transparent;
    color: orangered;
  }
}

nav .form span a.login:hover {
  background-color: #f8571d;
  color: #fff;
}

nav .form span a:hover {
  color: #8f8a8f;
}

@media screen and (max-width: 400px) {
  nav .form span {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  nav .form span {
    margin: 0;
  }
  nav .form span .sign {
    display: none;
  }
}

nav .form .mobile {
  padding: 0 10px;
  background-color: #ff5745;
  color: #fff;
  line-height: 2;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 960px) {
  nav .form .mobile {
    display: inline-block;
  }
}

nav .form .mobile .fa-times {
  display: none;
}

nav .form .mobile.active .fa-times {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .form .mobile.active .fa-bars {
  display: none;
}

nav.active {
  position: fixed;
  left: 0;
  -webkit-transition: position 0.5s ease;
  transition: position 0.5s ease;
  -webkit-animation: fade-in 0.5s ease forwards;
          animation: fade-in 0.5s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0.5;
    -webkit-transform: scaleY(-40px);
            transform: scaleY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
    -webkit-transform: scaleY(-40px);
            transform: scaleY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (max-width: 960px) {
  nav.active .navLinks {
    position: absolute;
    height: 500px;
    overflow-y: auto;
  }
  nav.active .navLinks .subList ul {
    position: relative;
    display: block;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  #header {
    margin-top: 70px;
  }
}

@media screen and (max-width: 600px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px auto;
  }
}

#header .cols {
  padding: 10px;
  margin: 12px 9px;
}

@media screen and (max-width: 600px) {
  #header .cols {
    margin: 12px auto;
  }
}

#header .cols.col-one {
  margin: 20px 5px 0 3px;
  padding: 8px 5px 0 20px;
}

@media screen and (max-width: 600px) {
  #header .cols.col-one {
    margin: 12px 7px 0 0;
  }
}

#header .cols.col-one .form-field .txt {
  font-size: 23px;
  font-weight: 200;
  color: #babbc2;
  margin-bottom: 30px;
}

#header .cols.col-one .form-field form .form {
  position: relative;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  -webkit-box-shadow: -2px 5px 10px 0px rgba(226, 225, 225, 0.671);
          box-shadow: -2px 5px 10px 0px rgba(226, 225, 225, 0.671);
}

@media screen and (max-width: 960px) {
  #header .cols.col-one .form-field form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 600px) {
  #header .cols.col-one .form-field form .form {
    width: 100%;
  }
}

#header .cols.col-one .form-field form .form input {
  width: 100%;
  height: inherit;
  outline: none;
  border: none;
  padding: 12px 14px 12px 55px;
  font-size: 17px;
  color: #777575;
  font-weight: 500;
}

#header .cols.col-one .form-field form .form button {
  width: 165px;
  padding: 10px 5px;
  border: none;
  background-color: #ff5757;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
}

#header .cols.col-one .form-field form .form button:focus, #header .cols.col-one .form-field form .form button:hover {
  outline: none;
  border: none;
}

@media screen and (max-width: 960px) {
  #header .cols.col-one .form-field form .form button {
    margin: 20px 0;
    width: 100%;
  }
}

#header .cols.col-one .form-field form .form .far {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 25px;
  font-weight: 300;
  color: #d6d7f0;
}

#header .cols.col-one .form-field .ads {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #header .cols.col-one .form-field .ads {
    text-align: center;
  }
}

#header .cols.col-one .form-field .ads span {
  display: inline-block;
  margin: 15px 10px 0 0;
  font-size: 14px;
  color: #9b9ba3;
}

#header .cols.col-one .form-field .ads span i {
  margin: 0 7px;
  color: #28d828;
}

@media screen and (max-width: 600px) {
  #header .cols.col-one .form-field .ads span {
    font-size: 13px;
  }
}

#header .cols #headerTitle {
  font-size: 40px;
  font-weight: 500;
}

@media screen and (max-width: 1100px) {
  #header .cols #headerTitle {
    font-size: 35px;
  }
}

#header .cols #subTitle {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1100px) {
  #header .cols #subTitle {
    font-size: 40px;
  }
}

#header .col-2 {
  float: right;
}

#header .col-2 .imgContainer {
  position: relative;
  width: 40vw;
  margin-top: 10px;
  z-index: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {
  #header .col-2 .imgContainer {
    width: 30vw;
    height: 500px;
  }
}

#header .col-2 .imgContainer.fade-away {
  -webkit-animation: fade-left 1.3s ease forwards alternate;
          animation: fade-left 1.3s ease forwards alternate;
}

@-webkit-keyframes fade-left {
  50% {
    top: 750px;
    right: 740px;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-355px) scale(0.6);
            transform: translate(-355px) scale(0.6);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-left {
  50% {
    top: 750px;
    right: 740px;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-355px) scale(0.6);
            transform: translate(-355px) scale(0.6);
  }
  100% {
    opacity: 0;
  }
}

#header .col-2 .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  #header .col-2 .imgContainer img {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  #header .col-2 .imgContainer {
    width: 100%;
    background-image: url("../img/download.jpg");
    height: 30vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
}

#header .col-2 .imgContainer svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  --breakpoint-xs: 0;
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Circular Std",sans-serif;
  color: #333e63;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 0;
  opacity: 0;
  margin-top: -10px;
  -webkit-animation: slide-in 0.5s linear forwards;
          animation: slide-in 0.5s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes slide-in {
  from {
    width: 300px;
    opacity: 0.5;
  }
  to {
    width: 550px;
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    width: 300px;
    opacity: 0.5;
  }
  to {
    width: 550px;
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  #header .col-2 .imgContainer svg {
    width: 100%;
    height: 100%;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  #header .col-2 .imgContainer svg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #header .col-2 .imgContainer svg {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-size {
  max-width: 1400px;
  margin: 12px auto;
  position: relative;
}

section {
  margin: 70px 0;
  /*-----Gif- container*/
  /*---------------*/
  /*----Platform----*/
  /*---------------*/
  /*-----Fade-in-text--*/
}

section.sec-2 {
  position: relative;
  margin: 0 12px;
}

section .card {
  padding: 37px 24px 34px;
  position: relative;
  -webkit-box-shadow: 1px 6px 12px 0px #c8cacc, -2px 8px 12px 0px #dfe1e2;
          box-shadow: 1px 6px 12px 0px #c8cacc, -2px 8px 12px 0px #dfe1e2;
  background-color: #f8f9fa;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*=======Member===Container*/
}

section .card .cardNav {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

section .card .cardNav h3 {
  font-size: 30px;
  font-weight: bold;
}

section .card .cardNav .logo {
  width: 70px;
  height: 50px;
}

section .card .cardNav .logo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  section .card {
    display: block;
  }
}

section .card .card-c {
  position: relative;
  display: inline-block;
  top: 90px;
}

section .card .card-c h3 {
  font-size: 20px;
}

section .card .card-c div {
  margin: 20px 0;
  /*-----filter----*/
}

section .card .card-c div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin: 0;
}

section .card .card-c div .icon i {
  display: inline-block;
  color: #79ceff;
  position: relative;
  font-size: 25px;
  margin-top: 10px;
  padding: 5px;
}

section .card .card-c div .icon span {
  width: 80px;
  height: 14px;
  margin-left: 10px;
  background-color: rgba(216, 217, 230, 0.733);
}

section .card .card-c div .icon:nth-child(3) span {
  width: 120px;
}

@media screen and (max-width: 960px) {
  section .card .card-c {
    margin: 20px auto;
  }
}

@media screen and (max-width: 960px) {
  section .card {
    -webkit-transform: scale(0.77);
            transform: scale(0.77);
    margin: auto;
  }
  section .card .options {
    display: block;
    margin: 40px auto;
  }
}

section .card .data {
  margin-left: 120px;
  margin: auto 140px;
}

@media screen and (max-width: 960px) {
  section .card .data {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

section .card .data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  /*-----Member-details*/
}

@media screen and (max-width: 960px) {
  section .card .data div {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  section .card .data div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media screen and (max-width: 600px) {
  section .card .data div {
    display: block;
  }
}

section .card .data div .detail-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin: 10px 15px;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 3px 6px 12px 0px #eeeff0, -3px 8px 12px 0px #a2a6a880;
          box-shadow: 3px 6px 12px 0px #eeeff0, -3px 8px 12px 0px #a2a6a880;
  text-align: center;
}

@media screen and (max-width: 960px) {
  section .card .data div .detail-card {
    width: 70%;
    margin: 20px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  section .card .data div .detail-card {
    display: block;
  }
}

section .card .data div .detail-card .cardImg {
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

section .card .data div .detail-card .cardImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .card .data div .detail-card span, section .card .data div .detail-card div {
  display: block;
  margin: 0 auto;
}

section .iconTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
}

section .iconTxt .txt {
  width: 400px;
  margin-left: 20px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  section .iconTxt .txt {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  section .iconTxt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: auto;
    justify-items: center;
  }
}

section .gifContainer {
  /*====Gif Caption===*/
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

section .gifContainer .float-ico {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  margin-top: 124px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  section .gifContainer .float-ico {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

section .gifContainer .float-ico .scroll-circles {
  position: relative;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  cursor: pointer;
}

section .gifContainer .float-ico .scroll-circles:hover {
  -webkit-transform: rotate3d(120deg);
          transform: rotate3d(120deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-animation: rotate 0.5s ease forwards alternate;
          animation: rotate 0.5s ease forwards alternate;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

section .gifContainer .float-ico .scroll-circles .little-circles {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  margin-right: 32px;
  background-color: #9effb6;
  display: block;
  top: 5px;
  left: -5px;
}

section .gifContainer .float-ico .scroll-circles .little-circles::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  left: 40px;
  top: 0;
  margin-right: 28px;
  background-color: #98c0fd;
  display: block;
}

section .gifContainer .float-ico .scroll-circles .little-circles::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  left: 20px;
  margin-right: 28px;
  top: -40px;
  background-color: #ffa27e;
  display: block;
}

section .gifContainer .gif-caption {
  font-size: 40px;
  letter-spacing: 1.19px;
  font-weight: 500;
}

section .gifContainer .gif-caption .odd {
  color: #5598ea;
}

section .gifContainer .screen-gif {
  width: 100%;
  -webkit-box-shadow: 1px 8px 15px 0px #e0e1e2bb, -2px 10px 16px 0px #dfe1e2;
          box-shadow: 1px 8px 15px 0px #e0e1e2bb, -2px 10px 16px 0px #dfe1e2;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
}

@media screen and (max-width: 960px) {
  section .gifContainer .screen-gif {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

section .gifContainer .screen-gif img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .gifContainer .txt {
  width: 60vw;
  margin: 0 0 0 170px;
  padding: 10px;
  font-weight: 400;
  font-size: 22px;
}

@media screen and (max-width: 960px) {
  section .gifContainer .txt {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  section .gifContainer .txt {
    width: 100%;
  }
}

section.sec-4 {
  background-color: #f8f9fa;
  -webkit-clip-path: polygon(0 87.896rem, 0 50%, 0 0, 770.75rem 100%);
          clip-path: polygon(0 87.896rem, 0 50%, 0 0, 770.75rem 100%);
}

section.payRoll .ad1 {
  margin: 55px 44px;
}

section.payRoll .gif-caption .odd {
  color: #76d895;
}

section.platform {
  background-color: #333e63;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-column-fill: balance;
          column-fill: balance;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  section.platform {
    -webkit-column-count: 1;
            column-count: 1;
  }
  section.platform div {
    margin: auto;
  }
  section.platform .text {
    padding: 0;
    margin: auto;
    max-width: 500px;
  }
}

section.platform::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 120px;
  background-color: #fff;
  -webkit-transform: rotate(-4deg) translate(1px, -80px);
          transform: rotate(-4deg) translate(1px, -80px);
  margin: 0;
}

section.platform::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: #fff;
  -webkit-transform: rotate(-3deg) translate(0, 80px);
          transform: rotate(-3deg) translate(0, 80px);
  margin: 0;
}

section.platform .complete-platform {
  padding-top: 216px;
  padding-bottom: 295px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform {
    padding: auto 12px;
  }
}

@media screen and (max-width: 400px) {
  section.platform .complete-platform {
    display: none;
  }
}

section.platform .complete-platform .diagram {
  margin-top: 100px;
  margin-left: 60px;
  position: relative;
}

section.platform .complete-platform .diagram .diagram-inner {
  position: relative;
  height: 401px;
  width: 401px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .diagram-inner {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
  }
}

section.platform .complete-platform .diagram .diagram-inner .time, section.platform .complete-platform .diagram .diagram-inner .benefits, section.platform .complete-platform .diagram .diagram-inner .hr, section.platform .complete-platform .diagram .diagram-inner .payroll {
  position: absolute;
}

section.platform .complete-platform .diagram .diagram-inner .time {
  top: 40px;
  left: 0;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .diagram-inner .time {
    top: 0;
    left: -12px;
    font-size: 13px;
  }
}

section.platform .complete-platform .diagram .diagram-inner .hr {
  top: 40px;
  right: 5px;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .diagram-inner .hr {
    top: 0;
  }
}

section.platform .complete-platform .diagram .diagram-inner .benefits {
  right: 5px;
  bottom: 40px;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .diagram-inner .benefits {
    bottom: 0;
  }
}

section.platform .complete-platform .diagram .diagram-inner .payroll {
  left: 5px;
  bottom: 40px;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .diagram-inner .payroll {
    bottom: 0;
  }
}

section.platform .complete-platform .diagram .diagram-inner::after {
  position: absolute;
  content: "Meknics";
  color: #ff9d2d;
  font-weight: 600;
  text-shadow: 0 3px 0 rgba(87, 84, 84, 0.397);
  font-size: 2rem;
  top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
}

section.platform .complete-platform .diagram svg {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram svg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram {
    padding: 10px;
  }
}

section.platform .complete-platform .diagram .icon {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section.platform .complete-platform .diagram .icon .c {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .diagram .icon .c {
    width: 30px;
    height: 30px;
  }
}

section.platform .complete-platform .diagram .icon .c.clock {
  background-color: #ff9300;
}

section.platform .complete-platform .diagram .icon .c.usd {
  background-color: #76d895;
}

section.platform .complete-platform .diagram .icon .c.plus {
  background-color: #f282d9;
}

section.platform .complete-platform .diagram .icon .c.user {
  background-color: #5596ea;
}

section.platform .complete-platform .text {
  padding-top: 230px;
}

section.platform .complete-platform .text .slider {
  margin-top: 116px;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: -0.57px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

section.platform .complete-platform .text .slider strong {
  color: #fff;
}

section.platform .complete-platform .text h2 {
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: -1.48px;
  display: block;
  width: 347px;
  display: block;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  section.platform .complete-platform .text h2 {
    font-size: 20px;
  }
}

section.platform .complete-platform .slick-list {
  position: relative;
}

section.platform .complete-platform .slick-list .slide {
  position: absolute;
  display: none;
}

section.platform .complete-platform .slick-list .slide.active {
  display: block;
}

section.platform .complete-platform .slick-dots {
  position: absolute;
  left: 50%;
  width: 300px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100px;
}

section.platform .complete-platform .slick-dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.platform .complete-platform .slick-dots ul li {
  margin: 0 10px;
  width: 40px;
  height: 3px;
  list-style: none;
  background: rgba(201, 198, 198, 0.349);
  border-radius: 5px;
  cursor: pointer;
}

section.Dtexts {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  section.Dtexts {
    padding: 12px 15px;
  }
}

section.Dtexts .more-section--animation {
  position: relative;
  opacity: 0;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: 15px;
}

section.Dtexts .more-section--animation h2 {
  font-size: 40px;
  margin: 0 0 17px;
}

section.Dtexts .more-section--animation p {
  font-size: 24px;
  color: #333e63;
  line-height: 1.5;
  letter-spacing: -0.3px;
  width: 400px;
}

@media screen and (max-width: 960px) {
  section.Dtexts .more-section--animation p {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  section.Dtexts .more-section--animation {
    margin: 30px auto;
  }
}

section.Dtexts .more-section--animation:nth-child(2) {
  float: right;
  margin-right: 25px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  padding-top: 0;
  margin-top: -30px;
}

@media screen and (max-width: 600px) {
  section.Dtexts .more-section--animation:nth-child(2) {
    float: none;
  }
}

section.Dtexts .more-section--animation:nth-child(2) p {
  font-size: 15px;
}

section.Dtexts .more-section--animation:nth-child(2) svg {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  position: relative;
  top: 120px;
}

section.Dtexts .more-section--animation:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  margin: 120px 0;
}

section.Dtexts .more-section--animation:nth-child(3) svg {
  padding-top: 170px;
}

section.Dtexts .more-section--animation:nth-child(3) p {
  font-size: 17px;
}

section.Dtexts .more-section--animation:nth-child(4) {
  margin: 120px auto;
  margin-top: 200px;
  width: 400px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@media screen and (max-width: 960px) {
  section.Dtexts .more-section--animation:nth-child(4) {
    width: 100%;
  }
}

section.Dtexts .more-section--animation:nth-child(4) svg {
  margin-bottom: 20px;
}

section.Dtexts .more-section--animation:nth-child(4) p {
  font-size: 17px;
}

section.Dtexts .more-section--animation:nth-child(5) {
  float: right;
  margin: 180px 12px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@media screen and (max-width: 960px) {
  section.Dtexts .more-section--animation:nth-child(5) {
    display: none;
  }
}

section.Dtexts .more-section--animation:nth-child(5) svg {
  margin-bottom: 20px;
}

section.Dtexts .more-section--animation:nth-child(5) p {
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  section.Dtexts .more-section--animation:nth-child(5) {
    margin: auto 0;
  }
}

section.Dtexts .more-section--animation:nth-child(6) {
  width: 300px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@media screen and (max-width: 600px) {
  section.Dtexts .more-section--animation:nth-child(6) {
    width: 100%;
  }
}

section.Dtexts .more-section--animation:nth-child(6) svg {
  margin-bottom: 20px;
}

section.Dtexts .more-section--animation:nth-child(6) p {
  font-size: 17px;
}

section.Dtexts .more-section--animation[data-scroll="in"] {
  -webkit-animation: slideIn 0.5s ease forwards;
          animation: slideIn 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

section.Dtexts .more-section--animation[data-scroll="in"]:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

section.Dtexts .more-section--animation[data-scroll="in"]:nth-child(3) {
  -webkit-animation-delay: 0.9345s;
          animation-delay: 0.9345s;
}

section.Dtexts .more-section--animation[data-scroll="in"]:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

section.Dtexts .more-section--animation[data-scroll="in"]:nth-child(5) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

section.Dtexts .more-section--animation[data-scroll="in"]:nth-child(6) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

section.Dtexts .more-section--animation[data-scroll="out"] {
  -webkit-animation: fadeout 0.5s linear forwards alternate;
          animation: fadeout 0.5s linear forwards alternate;
}

@-webkit-keyframes fadeout {
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes fadeout {
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(1);
            transform: translateY(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(1);
            transform: translateY(1);
    opacity: 1;
  }
}

section.companyBrands {
  position: relative;
  top: 450px;
  margin-bottom: 200px;
}

section.companyBrands .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

section.companyBrands .companies .brand {
  margin: auto 12px;
  opacity: 0;
  -webkit-animation: slideIn 0.5s ease forwards;
          animation: slideIn 0.5s ease forwards;
}

section.companyBrands .companies .brand[data-scroll="in"] {
  -webkit-animation: slideIn 0.5s ease forwards;
          animation: slideIn 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(3) {
  -webkit-animation-delay: 0.9345s;
          animation-delay: 0.9345s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(4) {
  -webkit-animation-delay: 1.112s;
          animation-delay: 1.112s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(5) {
  -webkit-animation-delay: 1.342s;
          animation-delay: 1.342s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(6) {
  -webkit-animation-delay: 1.54443s;
          animation-delay: 1.54443s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(7) {
  -webkit-animation-delay: 1.62519s;
          animation-delay: 1.62519s;
}

section.companyBrands .companies .brand[data-scroll="in"]:nth-child(8) {
  -webkit-animation-delay: 1.889s;
          animation-delay: 1.889s;
}

section.companyBrands .companies .brand[data-scroll="out"] {
  -webkit-animation: fadeout 0.5s linear forwards alternate;
          animation: fadeout 0.5s linear forwards alternate;
}

@keyframes fadeout {
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}

section.get-ready {
  width: 100%;
  position: relative;
  top: 400px;
}

section.get-ready .two-col-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

section.get-ready .two-col-sec span {
  width: 100%;
  padding: 20px;
  min-height: 270px;
  position: relative;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec span {
    display: block;
  }
}

section.get-ready .two-col-sec .col-one {
  background: #F7F7F8;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec .col-one {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.get-ready .two-col-sec .col-one .text {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec .col-one .text {
    position: relative;
  }
}

section.get-ready .two-col-sec .col-one .person {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec .col-one .person {
    display: none;
  }
}

section.get-ready .two-col-sec .col-one p {
  margin-bottom: 69px;
  font-size: 1.3125rem;
  line-height: 32px;
  letter-spacing: -.2px;
  color: #333e63;
  font-size: 21px;
  margin: 0px 0px 32px;
  max-width: 300px;
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec .col-one p {
    border: 3px solid;
  }
}

section.get-ready .two-col-sec .col-one .ready-footer-orange-button {
  font-size: 14px;
  border-radius: 0;
  background: #ff5745;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  position: relative;
  border: none;
  padding: 17px;
  min-width: 260px;
  -webkit-box-shadow: 0 6px 12px rgba(255, 87, 69, 0.2);
  box-shadow: 0 6px 12px rgba(255, 87, 69, 0.2);
}

@media screen and (max-width: 960px) {
  section.get-ready .two-col-sec .col-one .ready-footer-orange-button {
    min-width: 226px;
  }
}

section.get-ready .two-col-sec .col-two {
  background-image: linear-gradient(246deg, #3b3f63, #2f3350);
  color: rgba(255, 255, 255, 0.5);
  font-size: 21px;
  text-align: center;
}

section.get-ready .two-col-sec .col-two h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.23;
  margin-bottom: 13px;
}

section.get-ready .two-col-sec .col-two p {
  width: 440px;
  margin: 0 auto 30px;
  font-size: 1.3125rem;
  line-height: 32px;
  letter-spacing: -.2px;
}

@media screen and (max-width: 600px) {
  section.get-ready .two-col-sec .col-two p {
    width: 100%;
  }
}

section.get-ready .two-col-sec .col-two .ready-footer-blue-button {
  font-size: 14px;
  border-radius: 0;
  background: #54d4f2;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  position: relative;
  border: none;
  padding: 17px;
  min-width: 212px;
}

section.footerlinks {
  position: relative;
  top: 500px;
}

section.footerlinks .col-36 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 21px;
}

section.footerlinks .col-36 .footer-assist h2 {
  font-size: 36px;
  padding-bottom: 24px;
  color: #c1bfc5;
}

section.footerlinks .col-36 .footer-assist a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  background: #ff5745;
  position: relative;
  border: none;
  padding: 10px 17px;
  margin: 12px auto;
}

section.footerlinks .col-36 .footer-assist a i {
  margin: 0 10px;
}

section.footerlinks .col-36 .list {
  position: relative;
  margin-top: 25px;
}

section.footerlinks .col-36 .list ul {
  float: right;
}

section.footerlinks .col-36 .list ul .footer-menu-header {
  color: #c1bfc5;
}

section.footerlinks .col-36 .list ul li {
  display: inline-block;
  font-size: 17px;
  margin: 7px 15px;
  padding-bottom: 1px;
}

section.footerlinks .col-36 .list ul li a {
  font-size: 15px;
  padding-bottom: 7px;
  color: #333e63;
  text-decoration: none;
}

section.footerlinks .col-36 .list ul li ul li {
  display: block;
}

section.testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
  top: 420px;
  padding: 0;
  /*Testimonial-title*/
  /*====Testimonial-cards===*/
}

section.testimonials::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 500px;
  width: 1700px;
  background-color: rgba(236, 237, 247, 0.671);
  -webkit-transform: rotate(-10deg) translate(-20px, 0);
          transform: rotate(-10deg) translate(-20px, 0);
}

section.testimonials .testimonials-alt__title {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 50px;
  color: #08082e;
}

@media screen and (max-width: 960px) {
  section.testimonials::before {
    -webkit-transform: rotate(-4deg) translate(-20px, 0);
            transform: rotate(-4deg) translate(-20px, 0);
  }
  section.testimonials .testimonials-alt__title {
    font-size: 2.5rem;
  }
}

section.testimonials .section {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 900;
}

section.testimonials .scroll-card {
  width: 1170px;
  height: 500px;
  overflow-x: auto;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 900;
  position: absolute;
  left: 150px;
}

@media screen and (max-width: 960px) {
  section.testimonials .scroll-card {
    left: 0;
  }
}

section.testimonials .scroll-card::-webkit-scrollbar {
  opacity: 0;
}

section.testimonials .scroll-card span {
  float: right;
  clear: left;
  margin: auto 20px;
  min-width: 350px;
  height: 330px;
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  background-color: rgba(255, 255, 255, 0.788);
  -webkit-box-shadow: 8px 6px 22px rgba(214, 212, 212, 0.151);
          box-shadow: 8px 6px 22px rgba(214, 212, 212, 0.151);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
}

@media screen and (max-width: 960px) {
  section.testimonials .scroll-card span {
    -webkit-transform: translateX(1);
            transform: translateX(1);
  }
}

section.testimonials .scroll-card span.active {
  background-color: #fff;
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
    opacity: 1;
  }
}

section.testimonials .scroll-card span.notActive {
  -webkit-animation: deactive 0.5s linear forwards alternate;
          animation: deactive 0.5s linear forwards alternate;
}

@-webkit-keyframes deactive {
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    display: none;
  }
}

@keyframes deactive {
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    display: none;
  }
}

section.testimonials .imgContainer {
  height: 350px;
  width: 300px;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 600px) {
  section.testimonials .imgContainer {
    display: none;
  }
}

section.testimonials .imgContainer .col-1 {
  position: absolute;
  left: 0;
  height: inherit;
  display: none;
  -webkit-box-shadow: 8px 0 30px 0 #dbdde0;
          box-shadow: 8px 0 30px 0 #dbdde0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 134, 134, 0.288)), to(rgba(10, 11, 10, 0.5)));
  background: linear-gradient(rgba(165, 134, 134, 0.288), rgba(10, 11, 10, 0.5));
}

section.testimonials .imgContainer .col-1.active {
  display: block;
}

section.testimonials .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.testimonials .carousel-controls {
  float: right;
  position: absolute;
  right: 20px;
  top: 35%;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  section.testimonials .carousel-controls {
    display: none;
  }
}

section.testimonials .carousel-controls .icon {
  position: relative;
  padding: 10px 2px;
  text-align: center;
  font-weight: 400;
  width: 100px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  color: #4e4f52;
}

section.testimonials .carousel-controls .icon:nth-child(1) {
  background-color: #d1d3da;
}

section.testimonials .carousel-controls .icon:nth-child(2) {
  color: #ff5745;
  -webkit-box-shadow: 8px 0px 5px #b9b5b55d;
          box-shadow: 8px 0px 5px #b9b5b55d;
}

section.testimonials .carousel-controls .icon:nth-child(2):before {
  position: absolute;
  left: 0;
  bottom: 10px;
  content: "";
  left: 0;
  width: 60px;
  height: 125px;
  background-color: #d1d3da;
  -webkit-transform: rotate(-140deg) translate(7px, -10px);
          transform: rotate(-140deg) translate(7px, -10px);
}

section.testimonials .carousel-controls .icon .fa {
  cursor: pointer;
  margin: auto 12px;
  font-size: 2rem;
}

.assistant {
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  border-radius: 5px;
  background-color: #ff5757;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.assistant i {
  font-size: 20px;
  color: #fff;
}

.assistant:hover {
  background-color: #dc3545;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

footer {
  position: relative;
  top: 500px;
  width: 100%;
}

footer .footer--sub-content-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 12px auto;
}

footer .footer--sub-content-links .footer-logo {
  height: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

footer .footer--sub-content-links .ml-n1 li {
  display: inline-block;
  margin: 12px;
}

footer .footer--sub-content-links .ml-n1 li a {
  text-decoration: none;
  color: #333e63;
}

footer .footer--sub-content-links .social-icons a {
  margin: 10px 12px;
  padding: 5px;
  color: #54d4f2;
  display: inline-block;
}

footer .footer--sub-content-links .social-icons a.facebook, footer .footer--sub-content-links .social-icons a.linkedin {
  background-color: #54d4f2;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */