@import "./config";
#header{
display: flex;
align-items: center;
justify-content: space-between;
@include lgrScreen{
  margin-top: 70px;
}
@include smallScreen{
  flex-direction: column;
  margin:70px auto;
}
.cols{
  padding: 10px;
  margin: 12px 9px;
  @include smallScreen{
    margin: 12px auto;
  }
  &.col-one{
    margin: 20px 5px 0 3px;
    padding: 8px 5px 0 20px;
    @include smallScreen{
      margin: 12px 7px 0 0;
    }
    .form-field{
      .txt{
        font-size: 23px;
         font-weight: 200;
         color: #babbc2;
         margin-bottom: 30px;
      }
form{
.form{
position: relative;
width:400px;
display: flex;
justify-content: center;
height: 60px;
box-shadow: -2px 5px 10px 0px rgba(226, 225, 225, 0.671);
@include mediumScreen{
  flex-wrap: wrap;
  width: 50vw;
 justify-content: space-between;
 margin-bottom: 70px;
}
@include smallScreen{
  width: 100%;
}

input{
width: 100%;
height: inherit;
outline: none;
border: none;
padding: 12px 14px 12px 55px;
font-size: 17px;
color: rgb(119, 117, 117);
font-weight: 500;
}
button{
width: 165px;
padding: 10px 5px;
border: none;
background-color: rgb(255, 87, 87);
font-weight: 600;
color: #fff;
outline: none;
border: none;
&:focus, &:hover{
  outline: none;
  border: none;
}
@include mediumScreen{
  margin: 20px 0;
  width: 100%;
}
}
.far{
position: absolute;
left: 15px;
top: 20px;
font-size: 25px;
font-weight: 300;
color: #d6d7f0;
}
}
}
      .ads{
        margin-top: 20px;
        @include smallScreen{
          text-align: center;
        }
        span{
          display: inline-block;
          i{
            margin: 0 7px;
            color: rgb(40, 216, 40);
          }
          margin:15px 10px 0 0;
          font-size: 14px;
          color: rgb(155, 155, 163);
          @include smallScreen{
           font-size: 13px;
          }
        }
      }
    }
  }
  #headerTitle{
  font-size: 40px;
  font-weight: 500;
  @include lgScreen{
    font-size: 35px;
  }
  }
  #subTitle{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
    @include lgScreen{
font-size: 40px;
    }
  }
}
.col-2{
  float: right;
.imgContainer{
  position: relative;
  width: 40vw;
  border: 1px solid;
  margin-top: 10px;
  z-index: 400;
  transition: all 0.5s ease;
  &.fade-away{
    animation: fade-left 1.3s ease forwards alternate;
  }
@keyframes fade-left {
50%{
  top: 750px;
  right: 740px;
  width: 80px;
  height: 80px;
    transform: translate(-355px) scale(0.6);
  }
  100%{
    opacity: 0;
  }
}
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  @include smallScreen{
    opacity: 0;
  }
  }
  @include smallScreen{
    width: 100%;
    background-image: url("../img/download.jpg");
    height: 30vh;
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
svg{
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #7b4d90;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 640px;
--breakpoint-md: 1024px;
--breakpoint-lg: 1280px;
--breakpoint-xl: 1440px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-weight: 400;
line-height: 1.5;
text-align: left;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font-size: 100%;
font-family: "Circular Std",sans-serif;
color: #333e63;
pointer-events: none;
box-sizing: border-box;
overflow: hidden;
vertical-align: middle;
position: absolute;
top: 0;
right: 0;
z-index: 2;
width: 0;
opacity: 0;
margin-top: -10px;
animation: slide-in 0.5s linear forwards;
animation-delay: 0.5s;
@keyframes slide-in {
  from{
    width: 300px;
    opacity: 0.5;
  }
  to{
    width: 550px;
    opacity: 1;
  }
}
@include lgrScreen{
  width: 100%;
  height: 100%;
  animation: none;
  opacity: 1;
}
@include smallScreen{
  display: none;
}
}
}
}

}
.assistant{
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 5px;
  background-color: rgb(255, 87, 87);
  z-index: 1000;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);;
  i{
    font-size: 20px;
    color: #fff;
  }
  cursor: pointer;

  &:hover{
    background-color: #dc3545;
    transition: background-color 0.5s ease;
  }
}
section{
  margin: 70px 0;
  &.sec-2{
   position: relative;
   margin: 0 12px;
  }
  .card{
    padding: 37px 24px 34px;
    position: relative;
    box-shadow: 1px 6px 12px 0px #c8cacc, -2px 8px 12px 0px #dfe1e2;
    background-color:  #f8f9fa;
    transform: scale(0.7);
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    .cardNav{
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      h3{
        font-size: 30px;
        font-weight: bold;
      }
      .logo{
        width: 70px;
        height: 50px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    @include smallScreen{
      display: block;
     }
    .card-c{
      position: relative;
      display: inline-block;
      top: 90px;
      h3{
        font-size: 20px;
      }
    div{
      margin: 20px 0;
     
      /*-----filter----*/
      .icon{
display: flex;
align-items: center;
justify-content: unset;
margin: 0;
        i{
          display: inline-block;
          color: rgb(121, 206, 255);
          position: relative;
          font-size: 25px;
          margin-top: 10px;
          padding: 5px;
         
        }
        span{
          width: 80px;
          height: 14px;
         margin-left: 10px;
          background-color: rgba(216, 217, 230, 0.733);
        
        }
        &:nth-child(3){
       span{
         width:120px;
       }
        }
      }
   
    }
    @include mediumScreen{
  margin: 20px auto;
    }
    }
    @include mediumScreen{
      transform: scale(0.77);
     margin: auto;
   .options{
     display: block;
     margin: 40px auto;
   }
    }
    /*=======Member===Container*/
    .data{
     margin-left: 120px;
     margin: auto 140px;
     @include mediumScreen{
         display: block;
         width: 100%;
         margin: 0 auto;
    }
      div{
        display: flex;
        margin-bottom: 15px;
        @include mediumScreen{
          display: block;
     }
     @include lgScreen{
       flex-flow: row wrap;
     }
     @include smallScreen{
      display: block;
     }
     /*-----Member-details*/
        .detail-card{
          display: flex;
          align-items: flex-end;
          justify-content: center;
          flex-direction: column;
          width: 200px;
          margin: 10px 15px;
          padding: 15px;
          background-color: #fff;
          box-shadow: 3px 6px 12px 0px #eeeff0, -3px 8px 12px 0px #a2a6a880;
          text-align: center;
          @include mediumScreen{
            width: 70%;
            margin:20px auto;
            flex-flow: row wrap;
            align-items: center;
          }
          @include smallScreen{
           display: block;
          }
          .cardImg{
            margin-bottom: 12px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          } 
          span, div{
            display: block;
            margin:0 auto;
          }
        }
      }
    }
  }
  .iconTxt{
    display: flex;
    align-items: center;
    margin-left: 70px;
    .txt{
      width: 400px;
      margin-left: 20px;
      font-size: 20px;
      @include smallScreen{
        width: 100%;
      }
    }
    @include mediumScreen{
      flex-flow: row wrap;
      margin: auto;
    justify-items: center;
    }
  }
  /*-----Gif- container*/
  .gifContainer{
    .float-ico {
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.2px;
      margin-top: 124px;
      position: relative;
      display: flex;
      margin-left: 20px;
      @include smallScreen{
        flex-flow: wrap;
      }
      .scroll-circles{
      position: relative;
      width: 80px;
      height: 80px;
      display: flex;
      margin-right: 20px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 50%;
      cursor: pointer;
      &:hover{
        transform: rotate3d(120deg);
        transition: 0.5s ease;
        animation: rotate 0.5s ease forwards alternate;
      }
      @keyframes rotate {
        to{
          transform: rotate(180deg);
        }
      }
        .little-circles {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: relative;
          margin-right: 32px;
          background-color: rgb(158, 255, 182);
          display: block;
          top: 5px;
          left: -5px;
          &::before{
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: relative;
          left: 40px;
          top: 0;
          margin-right: 28px;
          background-color: rgb(152, 192, 253);
          display: block;
          }
          &::after{
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: relative;
            left: 20px;
            margin-right: 28px;
            top: -40px;
            background-color: rgb(255, 162, 126);
            display:block;
          }
      }
      }
 
  }
  .gif-caption{
    font-size: 40px;
    letter-spacing: 1.19px;
    font-weight: 500;
    .odd{
      color: #5598ea;
    }
  }
    .screen-gif{
      width: 100%;
      box-shadow: 1px 8px 15px 0px #e0e1e2bb, -2px 10px 16px 0px #dfe1e2;
      transform: scale(0.78);
      @include mediumScreen{
        transform: scale(0.9);
      }
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    /*====Gif Caption===*/
    .txt{
      width: 60vw;
      margin:0 0 0 170px;
      padding: 10px;
      font-weight: 400;
      font-size: 22px;
      @include mediumScreen{
        margin: auto;
      }
      @include smallScreen{
        width: 100%;
      }
    }
    transform: scale(0.85);
   }
  /*---------------*/

  &.sec-4{
    background-color: #f8f9fa;
    clip-path: polygon(00 87.896rem,00 50%, 00 00, 770.75rem 100%)
  }

  &.payRoll{
    .ad1{
      margin: 55px 44px;
    }
    .gif-caption{
      .odd{
        color: #76d895;
      }
    }
  }
  /*----Platform----*/
  &.platform{
    background-color: #333e63;
    column-count: 2;
    column-gap: 10px;
    column-fill: balance;
    position: relative;
    overflow: hidden;
    @include mediumScreen{
      column-count: 1;
      div{
        margin: auto;
      }
      .text{
        padding:0;
        margin: auto;
        max-width: 500px;
      }
    }
    &::before{
content: "";
position: absolute;
width: 100%;
left: 0;
top: 0;
height: 120px;
background-color: #fff;
transform: rotate(-4deg) translate(1px, -80px);
margin: 0;
    }
    &::after{
content: "";
position: absolute;
width: 100%;
right: 0;
bottom: 0;
height: 100px;
background-color: #fff;
transform: rotate(-3deg) translate(0, 80px);
margin: 0;
    }

    .complete-platform{
      padding-top: 216px;
      padding-bottom: 295px;
      color: #fff;
      @include smallScreen{
       padding: auto 12px;
      }
      @include smallerScreen{
        display: none;
      }
      .diagram {
        margin-top: 100px;
        margin-left: 60px;
        position: relative;
        .diagram-inner{
          position: relative;
          height: 401px;
          width: 401px;
          border-radius: 50%;
          @include smallScreen{
           width: 200px;
           height: 200px;
           position: absolute;
           left: 0;
          }
          .time, .benefits, .hr, .payroll{
            position: absolute;
          }
          .time{
            top: 40px;
            left: 0;
            @include smallScreen{
              top: 0;
              left: -12px;
              font-size: 13px;
            }
          }
          .hr{
            top: 40px;
            right: 5px;
            @include smallScreen{
              top: 0;
            }
          }
          .benefits{
            right: 5px;
            bottom: 40px;
            @include smallScreen{
              bottom: 0;
            }
          }
          .payroll{
            left: 5px;
            bottom: 40px;
            @include smallScreen{
              bottom: 0;
            }
          }
          &::after{
            position: absolute;
            content: "Meknics";
            color: #ff9d2d;
            font-weight: 600;
            text-shadow: 0 3px 0 rgba(87, 84, 84, 0.397);
            font-size: 2rem;
            top: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -20px);
          }
        }
        svg{
          animation: rotate 2s linear infinite;
          animation-play-state: running;
           @keyframes rotate {
             to{
               transform: rotate(360deg);
             }
           }
           @include smallScreen{
             width: 200px;
             height: 200px;
           }
        }
        @include smallScreen{
         padding: 10px;
        }
        .icon{
          position: relative;
          display: grid;
          place-items: center;
          .c{
           display: grid;
           place-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include smallScreen{
              width: 30px;
              height: 30px
            }
            &.clock{
              background-color: #ff9300;
            }
            &.usd{
              background-color: #76d895;
            }
            &.plus{
              background-color: #f282d9;
            }
            &.user{
              background-color: #5596ea;
            }
          }
        }
     
    }
    .text{
      padding-top: 230px;
    
    .slider {
      margin-top: 116px;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.52;
      letter-spacing: -0.57px;
      color: rgba(255,255,255,0.5);
      position: relative;
      strong{
        color: #fff;
      }
  }
    }
    .text h2 {
      font-size: 50px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: -1.48px;
      display: block;
      width: 347px;
      display: block;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      @include smallScreen{
        font-size: 20px;
      }
  }
  .slick-list{
    position: relative;
    .slide{
      position: absolute;
      display: none;
      &.active{
        display: block;
      }
    }

  }
  .slick-dots{
    position: absolute;
    left: 50%;
    width:300px;
    transform: translateX(-50%);
    top: 100px;
    ul{
 display: flex;
 align-items: center;
 justify-content: center;
 li{
   margin: 0 10px;
   width: 40px;
   height: 3px;
   list-style: none;
   background: rgba(201, 198, 198, 0.349);
   border-radius: 5px;
   cursor: pointer;
 }
    }
  }
    }
  }
  /*---------------*/

  &.Dtexts{
    margin-top: 40px;
    @include smallScreen{
      padding: 12px 15px;
    }
.more-section--animation{
  position: relative;
  opacity: 0;
  h2{
    font-size: 40px;
    margin: 0 0 17px;
  }
  p{
    font-size: 24px;
    color: #333e63;
    line-height: 1.5;
    letter-spacing: -0.3px;
    width: 400px;
    @include mediumScreen{
      width: 100%;
    }
  }
padding-top: 30px;
margin-top: 30px;
margin-left: 15px;
@include mediumScreen{
margin:30px auto;
}
&:nth-child(2){
  float: right;
  margin-right: 25px;
animation-delay: 2s;
  padding-top: 0;
  margin-top: -30px;
  @include smallScreen{
    float: none;
  }
 p{
   font-size: 15px;
 }
  svg{
    transform: scale(0.3);
    position: relative;
    top: 120px;
  }
}

&:nth-child(3){
  animation-delay: 2.5s;
svg{
  padding-top: 170px;
}
  p{
    font-size: 17px;
  }
  margin: 120px 0;
}
&:nth-child(4){
  margin: 120px auto;
  margin-top: 200px;
  width: 400px;
  animation-delay: 3s;
  @include mediumScreen{
    width: 100%;
  }
  svg{
    margin-bottom: 20px;
  }
  p{
    font-size: 17px;
  }
}
&:nth-child(5){
  float: right;
  margin: 180px 12px;
  animation-delay: 3.5s;
  @include mediumScreen{
    display: none;
  }
  svg{
    margin-bottom: 20px;
  }
  p{
    font-size: 17px;
  }
  @include smallScreen{
    margin: auto 0;
  }
}

&:nth-child(6){
  width: 300px;
  animation-delay: 4s;
  @include smallScreen{
    width: 100%;
  }
  svg{
    margin-bottom: 20px;
  }
  p{
    font-size: 17px;
  }
}
&[data-scroll="in"]{
  animation: slideIn 0.5s ease forwards;
  animation-delay: 0.5s;
  &:nth-child(2){
    animation-delay: 0.9s;
  }
  &:nth-child(3){
    animation-delay: 0.9345s;
  }
  &:nth-child(4){
    animation-delay: 1.112s;
  }
  &:nth-child(5){
    animation-delay: 1.342s;
  }
  &:nth-child(6){
    animation-delay: 1.54443s;
  }
}
&[data-scroll="out"]{
  animation: fadeout 0.5s linear forwards alternate;
  @keyframes fadeout {
    to{
      transform: translateY(40px);
      opacity: 0;
    }
  }
}
@keyframes slideIn {
  from{
    transform: translateY(50px);
    opacity: 0.5;
  }
to{
transform: translateY(1);
opacity: 1;
  }
}
}
  }

  &.testimonials{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
    top: 420px;
    padding: 0;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 500px;
      width: 1700px;
      background-color: rgba(236, 237, 247, 0.671);
      transform: rotate(-10deg) translate(-20px,-5px);
    }

    .testimonials-alt__title{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%);
      font-size: 50px;
      color: rgb(8, 8, 46);
    }
    @include mediumScreen{
      &::before{
        transform: rotate(-4deg) translate(-20px,0);
      }
      .testimonials-alt__title{
        font-size: 2.5rem;
      }
    }
    .section{
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      z-index: 900;
 
    }
    .scroll-card{
      width: 1170px;
  height: 500px;
  overflow-x: auto;
   float: right;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 900;
   position: absolute;
   left: 150px;
   @include mediumScreen{
     left: 0;
   }
&::-webkit-scrollbar{
opacity: 0;
}
      span{
float: right;
clear: left;
margin: auto 20px;
min-width: 350px;
height: 330px;
padding: 25px;
font-size: 20px;
font-weight: 500;
letter-spacing: -0.3px;
background-color: rgba(255, 255, 255, 0.788);
box-shadow: 8px 6px 22px rgba(214, 212, 212, 0.151);
transition:all 0.5s linear;
transform: translateX(450px);
@include mediumScreen{
  transform: translateX(1);
}
&.active{

  background-color: #fff;
}
      }
    }
 .imgContainer{
height: 350px;
   width: 300px;
   margin: 0;
   position: relative;
   @include smallScreen{
     display: none;
   }
   .col-1{
     position: absolute;
     left: 0;
     height: inherit;
     display: none;
     box-shadow: 8px 0 30px 0 #dbdde0;
     background: linear-gradient(rgba(165, 134, 134, 0.288), rgba(10,11,10,0.5));
     &.active{
       display: block;
     }
   }
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
 }
  }
  &.companyBrands{
    position: relative;
   top: 450px;
   margin-bottom: 200px;
   .companies{
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     margin: 0 auto;
     max-width: 1200px;
     .brand{
       margin: auto 12px;
       opacity: 0;
       animation: slideIn 0.5s ease forwards;
       &[data-scroll="in"]{
        animation: slideIn 0.5s ease forwards;
        animation-delay: 0.5s;
        &:nth-child(2){
          animation-delay: 0.9s;
        }
        &:nth-child(3){
          animation-delay: 0.9345s;
        }
        &:nth-child(4){
          animation-delay: 1.112s;
        }
        &:nth-child(5){
          animation-delay: 1.342s;
        }
        &:nth-child(6){
          animation-delay: 1.54443s;
        }
        &:nth-child(7){
          animation-delay: 1.62519s;
        }
        &:nth-child(8){
          animation-delay: 1.889s;
        }
      }
      &[data-scroll="out"]{
        animation: fadeout 0.5s linear forwards alternate;
        @keyframes fadeout {
          to{
            transform: translateY(40px);
            opacity: 0;
          }
        }
      }
     }
   }
  }
  &.get-ready{
    width: 100%;
    position: relative;
    top: 400px;
    .two-col-sec{
      display: flex;
      align-items: center;
      @include mediumScreen{
      flex-direction: column;
      align-items: center;
      margin: auto;
      }
      span{
        width: 100%;
       padding: 20px;
       min-height: 270px;
        position: relative;
        @include mediumScreen{
          display: block;
        }
      }
      .col-one{
        background: #F7F7F8;
        padding-left: 0;
        display: flex;
        @include mediumScreen{
        width: 100%;
        justify-content: center;
        align-items: center;
        }
        .text{
        position: absolute;
        right: 0;
        @include mediumScreen{
          position: relative;
        }
        }
        .person {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          @include mediumScreen{
            display: none;
          }
      }
        p {
          margin-bottom: 69px;
          font-size: 1.3125rem;
          line-height: 32px;
          letter-spacing: -.2px;
          color: #333e63;
          font-size: 21px;
          margin: 0px 0px 32px;
          max-width: 300px;
          @include mediumScreen{
            
            border: 3px solid;
          }
  
      }
      .ready-footer-orange-button {
        font-size: 14px;
        border-radius: 0;
        background: #ff5745;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        -webkit-transition: 0.2s all;
        -o-transition: 0.2s all;
        transition: 0.2s all;
        position: relative;
        border: none;
        padding: 17px;
        min-width: 260px;
        -webkit-box-shadow: 0 6px 12px rgba(255,87,69,0.2);
        box-shadow: 0 6px 12px rgba(255,87,69,0.2);
        @include mediumScreen{
          min-width: 226px;
        }
    }
      }
      .col-two{
        background-image: -o-linear-gradient(204deg, #3b3f63, #2f3350);
    background-image: linear-gradient(246deg, #3b3f63, #2f3350);
    color: rgba(255,255,255,0.5);
    font-size: 21px;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 44px;
      font-weight: 500;
      line-height: 1.23;
      margin-bottom: 13px;
  }
  p {
    width: 440px;
    margin: 0 auto 30px;
    font-size: 1.3125rem;
    line-height: 32px;
    letter-spacing: -.2px;
    @include smallScreen{
      width: 100%;
    }
}
.ready-footer-blue-button {
  font-size: 14px;
  border-radius: 0;
  background: #54d4f2;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  position: relative;
  border: none;
  padding: 17px;
  min-width: 212px;
}
      }
    }
  }

  &.footerlinks{
    position: relative;
    top: 500px;
    .col-36{
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-top: 21px;
      .footer-assist{
        h2{
          font-size: 36px;
          padding-bottom: 24px;
          color: rgb(193, 191, 197);
        }
        a{
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          border-radius: 0;
          background: #ff5745;
          position: relative;
          border: none;
          padding:10px 17px;
          margin:12px auto;
          i{
            margin: 0 10px;
          }
        }
      }
    .list{
  position: relative;
  margin-top: 25px;
      ul{
       float: right;
       .footer-menu-header{
        color: rgb(193, 191, 197);
      }
        li{
          display: inline-block;
          font-size: 17px;
          margin: 7px 15px;
          padding-bottom: 1px;
          a{
        font-size: 15px;
        padding-bottom: 7px;
        color: #333e63;
        text-decoration: none;
          }
          ul{
            li{
              display: block;
            }
       
          }
        }
      }
    }
    }
  }
  
}