footer{
  position: relative;
  top: 500px;
  width: 100%;
  .footer--sub-content-links{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    flex-flow: row wrap;
    margin: 12px auto;
    .footer-logo {
    height: 50px;
    transform: rotate(-90deg);
    }
    .ml-n1 {
      li{
        a{
         text-decoration: none;
          color: #333e63;
        }
        display: inline-block;
          margin: 12px;
      }
    }
    .social-icons{
      a{
        margin: 10px 12px;
        padding: 5px;
        color: #54d4f2;
        display: inline-block;
  &.facebook, &.linkedin{
    background-color: #54d4f2;
    color: #fff;
  }
      }
    }
  }
}